/*General*/
body{
    font-family: 'Roboto', sans-serif; /*Fuente principal de la pagina*/
    font-size: 14px;
    margin: 0;
    background: #e7e7e7;
    color: black;
    text-align: center;
}

h1, h2, h3,h4, h5, h6 { /*Establecemos la fuente para cada uno de los tamaños y el tamaño que queremos */

    font-family: 'Bebas Neue', cursive;
}

h1{
  font-size: 36px;  
}
h2{
    font-size: 20px;
}
h3{
 font-size: 14px;

}
h4{
    font-size: 14px;
}

.button{
    border-radius: 3px;
    border: solid 2px #1c6698;
    padding: 14px 36px;
    color: #1c6698;

}

.button.hover{

    background: white;
}

a.button{
    text-decoration: none;
}
/*layout*/
.wrapper{
    margin-left: 24px;
    padding-right: 24px; /*A todos los elemtos de esta clase se le crea el mismo margen dado*/

}

header,
#about-me,
footer, 
.skills{
    background: black;
    color: white;
}

section{
    padding-top: 60px;
    padding-bottom: 70px;
}
