html{
    font-family: 'Roboto', sans-serif;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
}

main{

    height: 80%;
    background-color: white;
    text-align: center;

     
}

body{
    margin: 0px;
    height: 100%;

}

header{

display: flex;
height: 100%;
background-color: black;
align-items: center;
justify-content: space-between;


}
  header > em{
    display: flex;
    color: white;
    align-items: baseline;
    padding-left: 5%;
    padding-right: 5%;


  } 

  em >  button {
   border-color: black;

  }

  footer{
    height: 100%;
    background-color: black;
    align-items: center;
  }

  footer > em{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a2a2a2;

  }

div.container{
   display: grid;
   justify-content: space-between;
   align-items: center;
   height: 70%;
   width: 100%;
   grid-gap: 20px;
   grid-template-columns: 1fr 1fr;
   overflow-x: scroll;
   white-space: nowrap;
   padding-bottom: 15%;

}
.front-end, .back-end {
   display: flexbox;
   height: 100%;
   width: 100%;
   background-color: black;
   text-align: center;
   background-color: white;
   
}

.front-end > h3, .back-end > h3{
  
    color: white;

} 
.first-section-button{

    color: #1c6698;


   

}